#app {
  min-height: 95vh;
}

img {
  width: 70px;
}

.danger {
  color: tomato;
}

.success {
  color: turquoise;
}

.stable {
  color: rgb(160, 160, 160);
}

.uppercase {
  text-transform: uppercase;
}
